@charset "UTF-8";
/* .container-fluid {
	margin-top: 101px;
} */
.content-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 100px;
	margin-top: 50px;
	margin-top: 35px;
	width: 100%;
}

.content-wrapper {
	border: 1px solid grey;
	width: 100%;
	padding-top: 87px;
}

.content-wrapper-top {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 35px 30px;
	padding-bottom: 0;
	background-color: transparent;
}

.content-wrapper-bottom {
	padding: 35px 30px;
	padding-top: 0;
}

.content-social {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: nowrap;
	border: 1px solid grey;
	width: 100%;
}

.content-counter {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	align-self: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	padding: 15px 10px 15px 25px;
	border-top: none;
}

.content-like {
	color: grey;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	visibility: visible;
	width: auto;
	margin-right: 10px;
}

.content-comment {
	color: grey;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	align-items: center;
	visibility: visible;
	width: auto;
	margin-right: 10px;
	display: -webkit-box;
}

.content-fuck {
	display: -webkit-box;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 15px;
}

ul {
	display: inline-flex;
	list-style: none;
}

.media {
	display: block;
	width: 100%;
	line-height: 1;
	margin: 0%;
}

.content-media {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	flex-wrap: nowrap;
	border: 1px solid grey;
}

.tag {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	/*  justify-content: space-between; */
	margin: 0;
	width: 100%;
	flex-wrap: nowrap;
	border: 1px solid grey;
}

.description {
	background-color: #fff;
	border-bottom: 1px solid #E5E5E5;
	padding: 20px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-content: flex-start;
	padding: 0;
	border: 1px solid grey;
	width: 100%;
}

.description-body {
	padding: 0;
}

.caption {
	border: 1px solid #E5E5E5;
	-webkit-box-flex: 1;
	flex: 1 0 50%;
	margin-left: 30px;
}

.reple {
	background-color: #fff;
	padding: 20px;
	font-size: 14px;
	/* font-size: .875rem; */
	width: 100%;
	border: 1px solid grey;
}

li {
	padding: 0;
	padding-right: 10px;
}

.footer-content {
	width: 100%;
	overflow: hidden;
	position: relative;
	border: 1px solid grey;
}

.footer-content-c {
	width: 100%;
}

.f-c-c {
	max-width: 100%;
}

.f-c-c-c {
	border: 0pt none;
}